aiohttp==3.11.11
    # via
    #   aider-chat
    #   litellm
aiosignal==1.3.2
    # via
    #   aider-chat
    #   aiohttp
annotated-types==0.7.0
    # via
    #   aider-chat
    #   pydantic
anthropic==0.43.1
    # via open-interpreter
anyio==4.8.0
    # via
    #   aider-chat
    #   anthropic
    #   httpx
    #   openai
    #   starlette
    #   watchfiles
appnope==0.1.4
    # via ipykernel
astor==0.8.1
    # via open-interpreter
asttokens==3.0.0
    # via stack-data
attrs==24.3.0
    # via
    #   aider-chat
    #   aiohttp
    #   glom
    #   jsonschema
    #   outcome
    #   referencing
    #   semgrep
    #   trio
backoff==2.2.1
    # via aider-chat
beautifulsoup4==4.12.3
    # via aider-chat
blessed==1.20.0
    # via inquirer
boltons==21.0.0
    # via
    #   face
    #   glom
    #   semgrep
bracex==2.5.post1
    # via wcmatch
cachetools==5.5.0
    # via google-auth
certifi==2024.12.14
    # via
    #   aider-chat
    #   httpcore
    #   httpx
    #   requests
    #   selenium
cffi==1.17.1
    # via
    #   aider-chat
    #   sounddevice
    #   soundfile
charset-normalizer==3.4.1
    # via
    #   aider-chat
    #   requests
click==8.1.8
    # via
    #   aider-chat
    #   click-option-group
    #   litellm
    #   nltk
    #   rich-toolkit
    #   semgrep
    #   typer
    #   uvicorn
click-option-group==0.5.6
    # via semgrep
colorama==0.4.6
    # via semgrep
comm==0.2.2
    # via
    #   ipykernel
    #   ipywidgets
configargparse==1.7
    # via aider-chat
contourpy==1.3.1
    # via matplotlib
cycler==0.12.1
    # via matplotlib
cython==3.0.11
    # via screeninfo
debugpy==1.8.12
    # via ipykernel
decorator==5.1.1
    # via ipython
defusedxml==0.7.1
    # via semgrep
diff-match-patch==20230430
    # via aider-chat
diskcache==5.6.3
    # via aider-chat
distro==1.9.0
    # via
    #   aider-chat
    #   anthropic
    #   openai
dnspython==2.7.0
    # via email-validator
editor==1.6.6
    # via inquirer
email-validator==2.2.0
    # via fastapi
exceptiongroup==1.2.2
    # via semgrep
executing==2.1.0
    # via stack-data
face==24.0.0
    # via glom
fastapi==0.115.6
    # via open-interpreter
fastapi-cli==0.0.7
    # via fastapi
filelock==3.16.1
    # via
    #   aider-chat
    #   huggingface-hub
    #   torch
    #   transformers
flake8==7.1.1
    # via aider-chat
fonttools==4.55.3
    # via matplotlib
frozenlist==1.5.0
    # via
    #   aider-chat
    #   aiohttp
    #   aiosignal
fsspec==2024.6.1
    # via
    #   aider-chat
    #   huggingface-hub
    #   torch
git-python==1.1.1
    # via open-interpreter
gitdb==4.0.12
    # via
    #   aider-chat
    #   gitpython
gitpython==3.1.44
    # via
    #   aider-chat
    #   git-python
glom==22.1.0
    # via semgrep
google-ai-generativelanguage==0.6.15
    # via google-generativeai
google-api-core==2.24.0
    # via
    #   google-ai-generativelanguage
    #   google-api-python-client
    #   google-generativeai
google-api-python-client==2.156.0
    # via google-generativeai
google-auth==2.37.0
    # via
    #   google-ai-generativelanguage
    #   google-api-core
    #   google-api-python-client
    #   google-auth-httplib2
    #   google-generativeai
google-auth-httplib2==0.2.0
    # via google-api-python-client
google-generativeai==0.8.3
    # via open-interpreter
googleapis-common-protos==1.66.0
    # via
    #   google-api-core
    #   grpcio-status
grep-ast==0.4.1
    # via aider-chat
grpcio==1.68.1
    # via
    #   google-api-core
    #   grpcio-status
grpcio-status==1.62.3
    # via google-api-core
h11==0.14.0
    # via
    #   aider-chat
    #   httpcore
    #   uvicorn
    #   wsproto
html2image==2.0.5
    # via open-interpreter
html2text==2024.2.26
    # via open-interpreter
httpcore==1.0.7
    # via
    #   aider-chat
    #   httpx
httplib2==0.22.0
    # via
    #   google-api-python-client
    #   google-auth-httplib2
httptools==0.6.4
    # via uvicorn
httpx==0.28.1
    # via
    #   aider-chat
    #   anthropic
    #   fastapi
    #   openai
huggingface-hub==0.24.6
    # via
    #   aider-chat
    #   sentence-transformers
    #   timm
    #   tokenizers
    #   transformers
idna==3.8
    # via
    #   aider-chat
    #   anyio
    #   email-validator
    #   httpx
    #   requests
    #   trio
    #   yarl
importlib-metadata==7.2.1
    # via
    #   aider-chat
    #   litellm
importlib-resources==6.4.4
    # via aider-chat
inquirer==3.4.0
    # via open-interpreter
ipykernel==6.29.5
    # via open-interpreter
ipython==8.30.0
    # via
    #   ipykernel
    #   ipywidgets
ipywidgets==8.1.5
    # via open-interpreter
janus==2.0.0
    # via open-interpreter
jedi==0.19.2
    # via ipython
jinja2==3.1.5
    # via
    #   aider-chat
    #   fastapi
    #   litellm
    #   torch
jiter==0.5.0
    # via
    #   aider-chat
    #   anthropic
    #   openai
joblib==1.4.2
    # via
    #   nltk
    #   scikit-learn
json5==0.9.25
    # via aider-chat
jsonschema==4.23.0
    # via
    #   aider-chat
    #   litellm
    #   semgrep
jsonschema-specifications==2023.12.1
    # via
    #   aider-chat
    #   jsonschema
jupyter-client==8.6.3
    # via
    #   ipykernel
    #   open-interpreter
jupyter-core==5.7.2
    # via
    #   ipykernel
    #   jupyter-client
jupyterlab-widgets==3.0.13
    # via ipywidgets
kiwisolver==1.4.8
    # via matplotlib
litellm==1.44.8
    # via
    #   aider-chat
    #   open-interpreter
markdown-it-py==3.0.0
    # via
    #   aider-chat
    #   rich
markupsafe==2.1.5
    # via
    #   aider-chat
    #   jinja2
matplotlib==3.10.0
    # via open-interpreter
matplotlib-inline==0.1.7
    # via
    #   ipykernel
    #   ipython
mccabe==0.7.0
    # via
    #   aider-chat
    #   flake8
mdurl==0.1.2
    # via
    #   aider-chat
    #   markdown-it-py
mouseinfo==0.1.3
    # via pyautogui
mpmath==1.3.0
    # via sympy
multidict==6.0.5
    # via
    #   aider-chat
    #   aiohttp